@import '../App';

.filter{
    button{
        padding: $smallM $mediumM;
        margin: $xxsmallM;
        border: 0;
        height: $xsmallC;
        min-width: min-content;
        max-width: 100%;
        background-color: $secondaryColor;
        color: $primaryColor;
        @each $property, $value in $filterFont {
            #{$property}: $value;
          }

        p{
            margin: 0;
            padding: 0;   
        }
    }
    button:hover{
        background-color: $primaryColor;
        color: $secondaryColor;
        cursor: pointer;
        transition: all 0.2s ease;
    }
}