@import '../App';

.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $smallC;
    border-bottom: 1px solid $secondaryColor;
    .searchField{
        input{
            margin: 0;
            border: none;
            border-left: 1px solid $secondaryColor;
            padding-left: .5rem;
            font-family: 'Montserrat';
            color: $secondaryColor;
        }
        input::placeholder{
            font-family: 'Montserrat';
            color: $secondaryColor;
        }
        input:focus{
            outline: none;
        }
        input:focus::placeholder {
            color: transparent;
          }
    }
    .icon{
        /*TEMP*/
        p{
            margin: 0;
        }
    }
}