@import '../App';

.trending{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $xlargeM;
    h2{
        width: $largeC;
        height: $smallC;
        margin: $mediumM 0;
        border-bottom: 1px solid $secondaryColor;
        text-align: center;
        line-height: 37px;
        color: $secondaryColor;
        @each $property, $value in $h2Font {
            #{$property}: $value;
          }
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .trendingList{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: $mediumM;
    }
}

@media (min-width: 850px) {
    .trending{
        h2{
            width: 100%;
            justify-content: flex-start;
        }
        .trendingList{
            gap: $largeM;
        }
    }
}