/* Global Variables

    Sizes:
        1rem = 16px
*/

/* Colors */
$primaryColor: #FFFFFF;
$secondaryColor: #621311;
/* Margin & Padding Sizes */
$xxsmallM: .125rem;
$xsmallM: .25rem;
$smallM: .5rem;
$mediumM: 1rem;
$largeM: 2rem;
$xlargeM: 4rem;
$xxlargeM: 8rem;
/* Component Sizes */
$xsmallC: 2rem;
$smallC: 4rem;
$mediumC: 8rem;
$largeC: 16rem;
/* Text Styles */
$h2Font: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 600
);
$h5Font: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 600
);
$h6Font: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 500
);
$filterFont: (
    font-family: 'Montserrat',
    font-style: normal,
    font-weight: 500
);
// Make variables for bigger screen sizes with @media

body{
    margin: 0;
}