@import 'App';

footer{
    display: flex;
    background-color: $secondaryColor;
    padding: 0 $mediumM;
    button{
        padding: 0;
        border: 0;
        background-color: $secondaryColor;
        color: $primaryColor;
        height: $smallC;
        p{
            margin: 0;
            padding: 0;   
        }
    }
}

/* Desktop */
@media (min-width: 850px) {
    footer {
        padding: 0 $xxlargeM;
    }
  }